@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', Sans-serif;
}
img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
   
}
.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;

}
.menu label{
    cursor: pointer;
    display:none;
    }
.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur (10px);
    top: 100%;
    z-index: 1;
    background-color: #ffffff;
    padding: 20px;
    min-width: 400px;
    box-shadow: 1px 2px 5px 0 hsla(0, 0%, 0%, 0.25);
    border-radius: 20px;
}
table{
    width: 100%;
}
th, td{
    color: #000000;
}
.borrar{
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}
.header-img{
    flex-basis: 50%;
    text-align: center;
}
.header-txt{
    flex-basis: 50%;
    text-align: center;
}
.header-txt h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    font-size: 'Oswald', Sans-serif;
    margin-bottom: 15px;
}
.header-txt p{
    font-size:20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 25px;
}
.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    
}
.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #f5f5f5;
    padding: 35px;
    border-radius: 25px;
    box-shadow:  5px 5px 10px -3px hsla(0, 0%, 0%, 0.25);;
}
.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img{
    width: 250px;
}
.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}
.ofert-txt h3{
    color: #111111;
    font-family: 'Oswald', Sans-serif;
    font-size: 25px;
    text-transform: lowercase;
    margin-bottom: 15px;
}
.btn-2{
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 25px;
    font-size: 15px;
}
.products{
    padding: 50px 0;
    text-align: center;
}
.products h2{
    color: #111111;
    font-family:'Oswald', Sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px
}
.product{
    text-align: center;
    padding: 30px;
    box-shadow:  5px 5px 10px -3px hsla(0, 0%, 0%, 0.25);;
    border-radius: 40px;
    background-color: #f5f5f5;
}
.product img{
    width: 250px;
    height: 350px;
    margin-bottom: 20px;
}
.product h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', Sans-serif;
    text-transform:uppercase;
    margin-bottom: 15px;
}
.product p, .precio{
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;
}
.precio{
    font-weight: 800;
}

.icons{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;   
}
.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f5f5f5;
}
.icon-txt{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', Sans-serif;
    text-transform: uppercase;
}
.icon-txt p{
    font-size: 16px;
    color: #111111;
}

.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1{
    flex-basis: calc(33.3% - 30px);

}
.blog-1 img{
    margin-bottom: 20px;
}
.blog-1 h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', Sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.blog-1 p{
    font-size: 16px;
    color: #111111;
}
footer{
    padding: 50x 0;
    background-color:#111111;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.link h3{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald', Sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a{
    font-size: 16px;
    color: #decece;
    margin-bottom: 10px;
    display: block;
}
.mobile-bottom-navigation{
    display: none;
    color: #000000;
}


@media (max-width:780px) {

    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;

    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a{
        color: #ffffff;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo{
        display: none;
    }

    .submenu:hover #carrito{
        min-width: 100%;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 50px 0;
        flex-direction: column; 
    }
    .header-img{
        display: none;
    }
    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }
    .header-txt h1{
        font-size: 70px;
    }
    .ofert{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }
    .ofert-1{
        margin-bottom: 30px;
    }
    .product{
        padding: 0 30px 30px 30px;
    }
    .products h2{
        margin-bottom: 30px;
    }
    .product-content{
        grid-template-columns:repeat(2, 1fr) ;
        gap: 12px;
    }


    .product img{
        width: 200px;
        height: 280px;
    }

    .icons{
        padding: 30px;
        flex-direction: column;
    }
    .icon-1{
        margin-bottom: 30px;
    }
    .blog{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }
    .blog-1{
        margin-bottom: 80px;

    }
    .footer{
        padding: 30px;
        display: none;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
        display: none;
    }
    .mobile-bottom-navigation {
        background: white;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 412px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0;
        box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
        z-index: 5;
        border-radius: 15px;
        text-decoration: none;
        list-style: none;
        color: #000000;
        
      }
      
      .mobile-bottom-navigation .action-btn {
        position: relative;
        font-size: 26px;
        color: black;
        padding: 10px;
        text-decoration: none;
        list-style: none;
        
      }
      
      .mobile-bottom-navigation .count {
        background-color:#ffffff ;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        font-weight: var(--weight-500);
        line-height: 1;
        padding: 2px 4px;
        border-radius: 20px;
        text-decoration: none;
        list-style: none;
        
      }
      button {
        background: none;
        font: inherit;
        border: none;
        cursor: pointer;
        text-decoration: none;
      }
    .actividad-perfil{
        flex-direction: column;
        margin-bottom: 40px;
        display: block;
        margin: auto;
        left: 50%;
        width: 100%;

    }
    .actividad-btn{
        margin-bottom: 30px;
        width: 100%;
        min-width: 412px;
        justify-content:baseline;
        display: flex;
        margin-left: 0;
    }
    .actividad-btn h4{
         margin-left: 10px;
    }
    .icons{
        display: none;
    }
    .menu{
        position: fixed;
        background-color: #ffffff;
    }
}
@media (max-width:412px) {

    .mobile-bottom-navigation{
        border-radius: 0;
        width: 100%;
        padding: 0;
        text-decoration: none;
        list-style: none;
        
        
    }
    .perfil-info{
        justify-content: center;
        padding: 50px;
        align-items: center;
        margin: 18%;
    }
    .perfil-info h2{
       align-items: first baseline;
    }
    .actividad-perfil{
        width: 100%;

    }
    

}
/*Perfil*/
.perfil-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 3px 6px 0 hsla(0, 0%, 0%, 0.25);
  }
  .perfil-header {
    color: #000000;
    padding: 10px 20px;
    text-align: center;
  }
  .perfil-info {
    padding: 20px;
    
  }
  .perfil-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .perfil-info div {
    display: inline-block;
    vertical-align: top;
  }
  .perfil-info h2 {
    margin: 0;
  }
  .perfil-info p {
    color: #666; 
}
.actividad-perfil{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 70px;
    margin-bottom: 50px;
}
.actividad-btn{
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 2px 3px 6px 0 hsla(0, 0%, 0%, 0.25);
    padding: 20px;
    border-color: white;
}
.header-perfil{
    display: flex;
    align-items: center;
    max-height: 0vh;
    background-color: #f5f5f5;
    padding: 70px 0 
}
.mantenimiento{
    width: 100%;
    margin-bottom: 80px;
}
.mantenimiento h1{
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
/*Notivicacion*/

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    background-color: #f5f5f5;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);

}

.popup.mostrar {
    display: block;
}
.popup-btn{
    background-color: #000000;
    border-radius: 26px;
    color:#ffffff;
    padding: 3px 10px;
}
